
  <nav class="name">
      <span><img src="/icons/icons8-delivery-50.png">SendIT</span>
        <p><a href="/">Home</a></p>
        <p><a href="/sign">Sign In</a></p>
        <p><a href="/sign">Sign Up</a></p>
  </nav>
