<nav class="name">
    <span><img src="/icons/icons8-delivery-50.png">SendIT</span>
      <p><a href="/">Home</a></p>
      <p><a href="/store">Crt-Ord</a></p>
      <p><a href="/account">Account</a></p>
      <p><a href="/profile">Orders</a></p>
      <p><a href="/logout" >Logout</a></p>
</nav>
