<nav class="open">
    <span><img src="/icons/icons8-delivery-50.png">SendIT</span>
      <p><a href="/index">Home</a></p>
      <p><a href="/store">Store</a></p>
      <p><a href="/account">Account</a></p>
      <p><a href="/profile">Basket</a></p>
</nav>
