<nav>
  <div class="general_nav">
    <div>
    <p><!--display time--></p>
    </div>
    <div>
      <p><a href="/index">home</a></p>
    </div>
    <div>
      <p><a href="/profile">profile</a></p>
    </div>
    <div>
      <p><a href="/store">store</a></p>
    </div>
  </div>

  <div class="user_nav">
    <div>
      <p><a href="/account">Account</a></p>
    </div>
    <div>
      <p><a href="/logout">Logout</a></p>
    </div>
    <div>
      <p><a href="/checkout">Basket</a></p>
      <img src="icons/icons8-buying-50.png">
    </div>
  </div>
</nav>
