




<footer>
    <div><img src="/icons/icons8-facebook-f-40.png"></div>
    <div><img src="/icons/icons8-instagram-40.png"></div>
    <div><img src="/icons/icons8-github-40.png"></div>
    <div><img src="/icons/icons8-whatsapp-40.png"></div>
</footer>
<div class="footer">
    <span>SendIT&copy;</span><span>Copywright 2019</span>
</div>
