<footer>
    <p>HucksApp&copy;</p>
    <div><img src="icons/icons8-twitter-50.png"></div>
    <div><img src="icons/icons8-facebook-50.png"></div>
    <div><img src="icons/icons8-instagram-old-50-2.png"></div>
    <div><img src="icons/icons8-whatsapp-50.png"></div>
</footer>
