

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%for (i of allData.andUsers) {

        for (n of i.order ){  %>
          <p><%=i%></p>
          <p><%=n%></p>

<%}}%>

  </body>
</html>
