<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta http-equiv="content-type" content="text/html" ;charset="utf-8"/>
    <meta name='viewport' content="width=device-width, initial-scale=1">
    <title><img src="">store</title>
      <link href="store2.css" rel='stylesheet' type="text/css"/>
  </head>
  <body>
    <div  class="store_wrapper">

      <!--inject the nav-->
      <%include partials/nav %>

       <div  class="store-wrapper wrapper">
         <form  id="order" name="form" action="/checkout" method="post">
           <div class="im">
              <div id="message"></div>
           <div class="name">
             <label for="pickupaddress" >Pickup:</label>
             <input  name="pickupaddress" type="text" class="name" required="required" placeholder="Enter pick up location"/>
           </div>
           <div class="name">
             <label for="name" >Recipient Name:</label>
             <input  name="name" type="text" class="name" required="required" placeholder="Enter the recipient name"/>
           </div>
           <div class="name">
             <label for="destination" >Destination Address:</label>
             <input  name="destination" type="text" class="name" required="required" placeholder="Enter the address"/>
           </div>
           <div class="name">
             <label for="phoneno" >Recipient Phone No:</label>
             <input  name="phoneno" type="number" class="name" required="required" placeholder="Enter recipient phone Number"/>
           </div>
           <button type="submit">submit Order</button>
         </div>
         </form>
        </div>

      </div>
      <%include partials/socials%>
      <script src="fronthandeler/store.js" type="text/javascript">

      </script>
    </body>
  </html>
