<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta http-equiv="content-type" content="text/html" ;charset="utf-8"/>
    <title><img src="">store</title>
      <link href="store2.css" rel='stylesheet' type="text/css"/>
  </head>
  <body>
    <div  class="store_wrapper">
      <!--inject the nav-->
      <%include partials/nav %>
       <div  class="store-wrapper">
         <span><img  class="store_out order" src="icons/icons8-double-tick-35.png"></span>
        <span><div id='wrapcount'></div></span>
        <div class="items-wrapper">
          <div class="arrow"><img class="store_out" src="icons/icons8-back-to-50.png"></div>
          <div id='item1' class="item">
            <div class="names_values">
              <!--to be replaced with the actual item -->
              <h3>$145</h3>
              <p>stock 1</p>
            </div>
            <div class="description">
              <p>this is the information and  discription of the item</p>
            </div>
          </div>
          <div id="item2" class="item">
            <!--to be replaced with the actual item -->
            <div class="names_values">
              <h3>$250</h3>
              <p>stock 2</p>
            </div>
            <div class="description">
                <p>this is the information and  discription of the item</p>
            </div>
          </div>
          <div id="item3" class="item">
            <!--to be replaced with the actual item -->
            <div class="names_values">
              <h3>$348</h3>
              <p>stock 3</p>
            </div>
            <div class="description">
                <p>this is the information and  discription of the item</p>
            </div>
          </div>
          <div id="item4" class="item other">
            <!--to be replaced with the actual item -->
            <div class="names_values">
              <h3>$346</h3>
              <p>stock 4</p>
            </div>
            <div class="description">
                <p>this is the information and  discription of the item</p>
            </div>
          </div>
          <div id="item5" class="item other">
            <!--to be replaced with the actual item -->
            <div class="names_values">
              <h3>$373</h3>
              <p>stock 5</p>
            </div>
            <div class="description">
                <p>this is the information and  discription of the item</p>
            </div>
          </div>
          <div id="item6" class="item other">
            <!--to be replaced with the actual item -->
            <div class="names_values">
              <h3>$398</h3>
              <p>stock 6</p>
            </div>
            <div class="description">
                <p>this is the information and  discription of the item</p>
            </div>
          </div>

          <div class="arrow"><img class="store_out" src="icons/icons8-next-page-50.png"></div>
        </div>

      </div>
      <%include partials/socials%>
      <script src="fronthandeler/store.js" type="text/javascript">

      </script>
    </body>
  </html>
