Body{
  padding:0;
  margin:0;
  font-family: fantasy;
}

section{
  display:flex;
  background-image:url('/icons/chuttersnap-xewrfLD8emE-unsplash.jpg');
  height:100vh;
  justify-content: space-around;
  color:#000;
  font-weight: bolder;



}
body p:nth-child(2){
  margin-left: 5%;
  color:purple;
}
section > *{
  margin:5%;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 7px;
  border:solid rgba(255, 255, 255, 0.5);
  padding:5%;
  flex-grow: 1;
  flex:1;
  flex-basis: auto;

}


.btn:hover,.icons_r:hover{
  transform:scale(0.8,0.8);
  cursor: pointer;
}

.btn{
background: inherit;
  border:hidden;
}



input,textarea{
  border:hidden;
  background-color: rgba(255, 255, 255, 0.4);
  font-family: fantasy;
  color:purple;

}



/***for partial nav**/
nav{
  color:#fff;
  font-size: 1.1em;
  background-color:#000;
display:flex;
position: fixed;
z-index: 1;
text-align: center;
justify-content:space-around;
width: 100%;
font-weight: bold;
}
nav.open{
  display:flex;
}

nav>*{
  flex:1;
  display:flex;
  border-width:thin;
  justify-content:center;
  align-items: center;
  align-self: center;
  border-color:rgba(255,255,255, 0.2);
  border-style: solid;
  display:inline-block;
  border-right:hidden;

}
nav a:hover{
  border:solid thin purple;
}



nav span{
  border:hidden;
}
nav p a{
  display: flex;
  align-items: center;
  justify-content: center;
}




.user_nav {
  margin-left:30%;
  margin-right:0;

}
.user_nav div{
  padding:0;
}

nav div p:hover{
  border-bottom: solid #0a0;
}
a{
  text-decoration: none;
  color:#fff;

}
a{
  border:
}

/**************************/
/*********footer design************/

footer{
  display:flex;
  background-color: #000;
  justify-content: space-around;
  font-family: inherit;
  color:#fff;
  height: 20vh;
}

footer div{
  border: solid thin rgba(255,255,255, 0.2);
  flex:1;
  display:flex;
  justify-content: center;
  align-items: center;

}


footer div:hover{
  transform:scale(0.9, 0.9);
  cursor: pointer;
  border: solid thin purple;

}

.footer{
  text-align: center;
  color:purple;
  background-color: #000;
  height: 15vh;
  vertical-align: bottom;
}

/***********************/



@media screen and (max-width:465px){
  nav{
    flex-flow: column;
    flex-wrap: wrap;
   align-items: flex-start;
  }
  nav>*{
    margin:10px;
    min-width:200px;
    width:90%;
    border:thin solid rgba(255,255,255, 0.2);
    
  }

  section{
    padding-top:200px;
    overflow:scroll;
  }
}
