body{
  padding;0;
  margin:0;
  box-sizing: border-box;
  font-family: fantasy;

}

/***for partial nav**/
nav{
  color:#fff;
  font-size: 1.1em;
  background-color:#000;
display:flex;
position: fixed;
z-index: 1;
text-align: center;
justify-content:space-around;
width: 100%;
font-weight: bold;
}
nav.open{
  display:flex;
}

nav>*{
  flex:1;
  display:flex;
  border-width:thin;
  justify-content:center;
  align-items: center;
  align-self: center;
  border-color:rgba(255,255,255, 0.2);
  border-style: solid;
  display:inline-block;
  border-right:hidden;

}
nav a:hover{
  border:solid thin purple;
}



nav span{
  border:hidden;
}
nav p a{
  display: flex;
  align-items: center;
  justify-content: center;
}




.user_nav {
  margin-left:30%;
  margin-right:0;

}
.user_nav div{
  padding:0;
}

nav div p:hover{
  border-bottom: solid #0a0;
}
a{
  text-decoration: none;
  color:#fff;

}
a{
  border:
}

/**************************/
form{
  padding-top:20vh;
  text-align:left;
}

.im{
  background-color: rgba(219,225,221, 0.8);
  border-radius: 10px;
  margin:30px;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 20%;
  padding-right: 20%;
}
div.name{
  border-bottom: solid thin #000;
}
label{
  font-size: 1.2em;
  font-weight: bolder;
}
input{
  background:none;
  border:hidden;
}

button[type="submit"]{
  height:5vh;
  width:50%;
  border-radius: 5px;
  font-weight: bolder;
}

.wrapper{
  background-image:url('/icons/chuttersnap-xewrfLD8emE-unsplash.jpg');
  height: 100vh;
}
button:hover{
  cursor: pointer;
  transform: scale(0.8,0.8);
}

/*********footer design************/

footer{
  display:flex;
  background-color: #000;
  justify-content: space-around;
  font-family: inherit;
  color:#fff;
  height: 20vh;
}

footer div{
  border: solid thin rgba(255,255,255, 0.2);
  flex:1;
  display:flex;
  justify-content: center;
  align-items: center;

}


footer div:hover{
  transform:scale(0.9, 0.9);
  cursor: pointer;
  border: solid thin purple;

}

.footer{
  text-align: center;
  color:purple;
  background-color: #000;
  height: 15vh;
  vertical-align: bottom;
}

/***********************/
