body{
  margin:0;
  padding:0;
  color:#fff;
  box-sizing: border-box;
  font-family:fantasy;
  height: 100vh;
  font-weight:bolder;

}
/***for partial nav**/
nav{
  color:#fff;
  font-size: 1.1em;
  background-color:#000;
display:flex;
position: fixed;
z-index: 1;
text-align: center;
justify-content:space-around;
width: 100%;
font-weight: bold;
}
nav.open{
  display:flex;
}

nav>*{
  flex:1;
  display:flex;
  border-width:thin;
  justify-content:center;
  align-items: center;
  align-self: center;
  border-color:rgba(255,255,255, 0.2);
  border-style: solid;
  display:inline-block;
  border-right:hidden;

}
nav a:hover{
  border:solid thin purple;
}



nav span{
  border:hidden;
}
nav p a{
  display: flex;
  align-items: center;
  justify-content: center;
}




.user_nav {
  margin-left:30%;
  margin-right:0;

}
.user_nav div{
  padding:0;
}

nav div p:hover{
  border-bottom: solid #0a0;
}
a{
  text-decoration: none;
  color:#fff;

}
a{
  border:
}

/**************************/
.wrapper{
  background-attachment: fixed;
    background-image:url('/icons/chuttersnap-xewrfLD8emE-unsplash.jpg')
}

hgroup{
  position:absolute;
  left:85%;
  top:40px;

}

section{
  text-align: center;
  display: flex;
  color:#000;
  flex-direction:column;
  background-color: rgba(219,225,221, 0.8);

  height: 100vh;
}
section h2, section p{
  background-color:rgba(255,225,255, 0.1);
}

section>*{
  height:40vh;

}
section div:last-child{
  color:purple;
  font-size:1.1em;
  font-weight: bold;
}
.menubtn:hover{
transform:scale(0.8,0.8);
cursor:pointer;

}
#in-nav{
  color:orange;
  background-color:rgba(255, 255,255, 0.6);
  text-align: center;
  display:flex;


}

#in-nav div{
  border: solid thin rgba(255,255,255, 0.2);
  background-color: #000;
  box-shadow: 1px 1px 1px 1px #000;
  color:#000;
  flex:1;
  height:100px;
  display:flex ;
  justify-content: center;
  align-items: center;
  al
}

#in-nav >*:hover a{
  color: purple !important;
}
#in-nav div:hover{
  border:solid thin purple;
}
.menuclosed{
  flex-direction: column;
  height:0vh;
  overflow: hidden;
  transition:height 1s;
}

.menuclosed.togmenu{
  display: flex;
  flex-direction: column;
  height:100vh;
      overflow:scroll;
      transition:height 4s;
}

.store_wrapper{
  height:100vh;
}


header h3:first-child{
  height: 20vh;
  padding-top: 20vh;
  text-align:center;
}
.top{
  padding-top: 5vh;
  display:none;
}

/*********footer design************/

footer{
  display:flex;
  background-color: #000;
  justify-content: space-around;
  font-family: inherit;
  color:#fff;
  height: 20vh;
}

footer div{
  border: solid thin rgba(255,255,255, 0.2);
  flex:1;
  display:flex;
  justify-content: center;
  align-items: center;

}


footer div:hover{
  transform:scale(0.9, 0.9);
  cursor: pointer;
  border: solid thin purple;

}

.footer{
  text-align: center;
  color:purple;
  background-color: #000;
  height: 15vh;
  vertical-align: bottom;
}

/***********************/



@media screen and (max-width:768px){
 /***for partial nav**/
nav{
 background-color: #000;
 height:10%;
}
nav p{
  display:none;
}

/**************************/ 
.top{
  display:block;
}
/*********footer design************/

footer{
  display:flex;
  background-color: #000;
  justify-content: space-around;
  font-family: inherit;
  color:#fff;
  height: 20vh;
}

footer div{
  border: solid thin rgba(255,255,255, 0.2);
  flex:1;
  display:flex;
  justify-content: center;
  align-items: center;

}


footer div:hover{
  transform:scale(0.9, 0.9);
  cursor: pointer;
  border: solid thin purple;

}

.footer{
  text-align: center;
  color:purple;
  background-color: #000;
  height: 15vh;
  vertical-align: bottom;
}

/***********************/
}